<body>
    <main>
        <div class="login-box">
            <form action='@Url.Action("Index", "Home")' method="post">
                <div class="box-fin">
                    <h4>FIN DEL JUEGO</h4>
                    <p>User: @ViewBag.username</p>
                    <p>Puntos: @ViewBag.puntaje</p>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Reiniciar Juego
                </a>
            </form>
        </div>
    </main>
</body>