<body>
    <main>
        <div class="login-box">
            <form>
                <div class="box-fin">
                    <h4>FIN DEL JUEGO</h4>
                    <p>User: Maia Kuper</p>
                    <p>Puntos: 1000 puntos obtenidos</p>
                </div>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Reiniciar Juego
                </a>
            </form>
        </div>
    </main>
</body>