@{
    ViewData["Title"] = "Home Page";
}
<body class= "indexx">
    <main class="indexMain">
        <div class="container">
            <button class="start-button"><a href='@Url.Action("ConfigurarJuego", "Home")' >EMPEZAR JUEGO</a></button>
        </div>
    </main>
</body>
