<body>
    <main class = "mainJuego"> 
        <div class="card">
            <h3 class="card-title">@ViewBag.Pregunta.Enunciado</h3>
            @if(ViewBag.Pregunta.Foto != "NULL")
            {
               <div class="imagen">
                    <img class="card-img-top" src="ViewBag.Pregunta.Foto" alt="Card image cap">
                </div>
            }else{<img class="card-img-top" src="/img/ort.jpg" alt="Card image cap">}

            <div class="card-body">
                <form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
                    <div class="checkboxes">
                        <div class="categorias">
                            @foreach(Respuestas r in ViewBag.Respuestas)
                            {
                                <label><input value="@r.IdRespuesta" type="radio" name="categoria" id=" ">@r.Contenido</label>
                            }
                        </div>
                    </div>
                    <input type="submit" value="validar respuesta" name="cb-categoria-arte">
                </form>
            </div>
        </div>
    </main>
</body>