<body>
    <main class = "mainJuego"> 
        <div class="card">
            <h3 class="card-title">¿Cuantas especialidades posee la sede ORT Almagro?</h3>
            <div class="imagen">
                <img class="card-img-top" src="img/ort.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-primary">8 Especialidades</a>
                <a href="#" class="btn btn-primary">7 Especialidades</a>
                <a href="#" class="btn btn-primary">6 Especialidades</a>
                <a href="#" class="btn btn-primary">5 Especialidades</a>
            </div>
        </div>
    </main>
</body>