<div class="checkboxes">
    <div class="categorias">
        @foreach(Respuestas r in ViewBag.Respuestas)
        {
            <label><input value="@r.IdRespuesta" type="radio" name="categoria" id=" ">@r.Contenido</label>
        }
    </div>
</div>
